In [1]:
import numpy as np
import pandas as pd

In [2]:
#The following code cell instantiates a pd.DataFrame class to generate a DataFrame. The class takes two arguments:
#The first argument provides the data to populate the 10 cells. The code cell calls np.array to generate the 5x2 NumPy array.
#The second argument identifies the names of the two columns.

# Create and populate a 5x2 NumPy array.
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

# Create a Python list that holds the names of the two columns.
my_column_names = ['temperature', 'activity']

# Create a DataFrame.
my_dataframe = pd.DataFrame(data=my_data, columns=my_column_names)

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [3]:
#Adding a new column to a DataFrame

# Create a new column named adjusted.
my_dataframe["adjusted"] = my_dataframe["activity"] + 2

# Print the entire DataFrame
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [4]:
#Specifying a subset of a DataFrame

print("Rows #0, #1, and #2:")
print(my_dataframe.head(3), '\n')

print("Row #2:")
print(my_dataframe.iloc[[2]], '\n')

print("Rows #1, #2, and #3:")
print(my_dataframe[1:4], '\n')

print("Column 'temperature':")
print(my_dataframe['temperature'])

Rows #0, #1, and #2:
   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11

Row #2:
   temperature  activity  adjusted
2           20         9        11

Rows #1, #2, and #3:
   temperature  activity  adjusted
1           10         7         9
2           20         9        11
3           30        14        16

Column 'temperature':
0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int64

In [5]:
my_data = np.random.randint(low=0, high=101, size=(3, 4))

my_column_names = ['Eleanor', 'Chidi', 'Tahani', 'Jason']

md = pd.DataFrame(data=my_data, columns=my_column_names)

#the entire DataFrame:
print(md, '\n')

#the value in the cell of row #1 of the Eleanor column:
#my_data2 = md.iloc[[1]]
#my_column_name2 = ['Eleanor']
#md2 = pd.DataFrame(data=my_data2, columns=my_column_name2)
#print(md2['Eleanor'],'\n')

#or:
print("Second row of the Eleanor column: %d\n" % md['Eleanor'][1])

#Create a fifth column named Janet, which is populated with the row-by-row sums of Tahani and Jason:
md['janet'] = md['Tahani'] + md['Jason']
print("Column 'janet':\n",md['janet'])

   Eleanor  Chidi  Tahani  Jason
0        7     32      26     88
1       81     25      82     78
2       14     24      80     54

Second row of the Eleanor column: 81

Column 'janet':
 0    114
1    160
2    134
Name: janet, dtype: int64

In [6]:
# Create a reference by assigning my_dataframe to a new variable.
print("Experiment with a reference:")
reference_to_md = md

# Print the starting value of a particular cell.
print("  Starting value of my_dataframe: %d" % md['Jason'][1])
print("  Starting value of reference_to_df: %d\n" % reference_to_md['Jason'][1])

# Modify a cell in df.
md.at[1, 'Jason'] = md['Jason'][1] + 5
print("  Updated df: %d" % md['Jason'][1])
print("  Updated reference_to_df: %d\n\n" % reference_to_md['Jason'][1])

# Create a true copy of my_dataframe
print("Experiment with a true copy:")
copy_of_my_dataframe = my_dataframe.copy()

# Print the starting value of a particular cell.
print("  Starting value of my_dataframe: %d" % my_dataframe['activity'][1])
print("  Starting value of copy_of_my_dataframe: %d\n" % copy_of_my_dataframe['activity'][1])

# Modify a cell in df.
my_dataframe.at[1, 'activity'] = my_dataframe['activity'][1] + 3
print("  Updated my_dataframe: %d" % my_dataframe['activity'][1])
print("  copy_of_my_dataframe does not get updated: %d" % copy_of_my_dataframe['activity'][1])

Experiment with a reference:
  Starting value of my_dataframe: 78
  Starting value of reference_to_df: 78

  Updated df: 83
  Updated reference_to_df: 83


Experiment with a true copy:
  Starting value of my_dataframe: 7
  Starting value of copy_of_my_dataframe: 7

  Updated my_dataframe: 10
  copy_of_my_dataframe does not get updated: 7